body{
    margin: 0px;
    padding: 0px;
}

.container{
    background-color:navy;
    padding: 20px;
}

ul{
    margin-left: 500px;
}
li{
    display: inline;
    color: white;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
}

li:hover{
    color:gold;
}